@import '../_variables';

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 1s ease;
  width: 100%;
  height: 100%;
  user-select: none;

  &__front, &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .75s ease;
    backface-visibility: hidden;
    background-color: #E3E3E3;
    border-radius: $round-md;
  }

  &__back {
    transform: rotateY(180deg);
  }

  &_select {
    .card__front { transform: rotateY(180deg); }
    .card__back { transform: rotateY(360deg); }
  }

  &_matched {
    opacity: 0;
  }
}
