@import '../_variables';

.table {
  display: table;
  width: 100%;
  background: $secondary-color;
  border-radius: $round-md;
  padding: 15px 30px;

  &__header td {
    font-size: 1.1rem;
    font-weight: 700;
    color: $text-primary;
    padding: 8px 0;
  }

  &__content td {
    font-size: 1rem;
    font-weight: 700;
    color: $text-secondary;
    padding: 8px 0;
  }
}
