@import '../_variables';

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $secondary-color;
  width: 100%;
  height: 74px;
  border-radius: $round-md;

  &_mb-1 {
    margin-bottom: 1rem;
  }

  &__p {
    font-size: 1.75rem;
    font-weight: 700;
    color: $text-primary;
  }
}
