$primary-color: #313131;
$secondary-color: #525252;
$success-color: #2FC146;
$success-hover-color: #2AAA3F;
$error-color: #DA4834;
$error-hover-color: #CD412E;

$text-primary: #fff;
$text-secondary: #e8e8e8;

$round-md: 8px;
